<h1>Kelly Blue Book</h1>
<div>
        <label>Enter Car Name
          <input #box [(ngModel)]="car.name" placeholder="name" />
          <button type="reset" placeholder="reset" (click)='box.value=""'>RESET</button>
        </label>
</div>
<div *ngIf="box.value!=undefined">
        <ul *ngFor='let car of cars'>
            <p *ngIf="car.name.includes(box.value)" (click)="onSelect(car)">{{car.id}} {{car.name}} {{car.type}}</p>
        </ul>
</div>

<div>
  <label>Enter New Car Details
    <p>ID   <input #box1 [(ngModel)]="selectedCar.id" placeholder="id" (keyup.enter)="onEnter(box1.value)"/></p>
    <p>Name <input #box2 [(ngModel)]="selectedCar.name" placeholder="name" (keyup.enter)="onEnter(box2.value)"/></p>
    <p>Type <input #box3 [(ngModel)]="selectedCar.type" placeholder="type" (keyup.enter)="onEnter(box3.value)"/></p>
    <button type="submit" placeholder="submit" (click)='saveCar(box1.value,box2.value,box3.value)'>SUBMIT</button>
    <button type="update" placeholder="update" (click)='updateCartoDB(box1.value,box2.value,box3.value)'>UPDATE</button>
    <button type="delete" placeholder="delete" (click)='deleteCarinDB(box1.value)'>DELETE</button>
    <button type="reset" placeholder="reset" (click)='clearAll()'>RESET</button>
  </label>
</div>